<div *ngIf="{
    users: users$ | async,
  } as state">

    <div class="p-4 flex justify-center">
        <div class="bg-background-100 p-4 mx-auto">

            <table class="text-left" *ngIf="state.users as users">
                <thead>
                    <th class="px-2"></th>
                    <th class="px-2">Id</th>
                    <th class="px-2">Display Name</th>
                </thead>
                <tbody>
                    <tr class="border-b border-primary-200 hover:bg-background-200" *ngFor="let user of users">
                        <td class="px-2 py-1"><img class="rounded" [src]="user.image"
                                [alt]="'Profile picture for ' + user.displayName" width="100px"></td>
                        <td class="px-2 py-1">
                            {{user.id}}
                        </td>
                        <td class="px-2 py-1">
                            <div class="text-xl">
                                {{user.displayName}}
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>



</div>